
/* reset layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(243, 243, 243);
    font-family: 'Poppins', sans-serif;
}

/* header */
.logo-header{
    background-color: white;
    padding: 10px 20px;
    
}

.logo-img{
    vertical-align: top;
}

.logo-name{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

/* main */

.container-main{
    
    width: 80%;
    margin: 40px auto;
    background-color: white;
    border-radius: 5px;
}

/* header main */
.header-container-main{
    
    padding: 20px 40px;
    border-bottom: 2px solid rgb(243, 243, 243);;

}

.add{
    
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}
/* sezioni aggiunte */
.section-container{
    
    padding: 20px 40px;

}

.down-triangle{
    margin-right: 5px;
    font-size: 10px;
}

.section-header-name{
    font-size: 20px;
    font-weight: bold;
}

.section-list{
    list-style-type: none;
    margin: 5px 0 40px;
}

.list-item{
    margin-bottom: 20px;
    margin-top: 10px;
}

.entity-mark{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    font-size: 9px;
    margin-right: 5px;

}

.check-mark{
    
    border: 1px solid green;
    color: green;

}

.cross-mark{

    border: 1px solid red;
    color: red;

}

.type-list{
    border-radius: 15px;
    background-color: lightblue;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
}
.dodgerblue{

    background-color:dodgerblue;

}

#add-task{
    background-color:dodgerblue;
    color: white;
}

#add-section{
    background-color:white;
    color: lightgray;
    border: 1px solid lightgray;
}

.dodgerblue{

    background-color:dodgerblue;

}

#blueviolet{
    background-color: blueviolet;
}

#green{
    background-color: forestgreen;
}

#orange{
    background-color: orange;
}

#violet{
    background-color:mediumvioletred;
}

#light-green{
    background-color:rgb(118, 161, 31);
}
