
/* reset layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.logo-header{
    background-color: white;
    padding: 10px 20px;
    border: 1px solid red;
}

.logo-img{
    vertical-align: middle;
}

.logo-name{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

/* main */

.container-main{
    border: 1px solid red;
    width: 80%;
    height: 400px;
    margin: 40px auto;
}

.header-container-main{
    border: 1px solid red;
    padding: 20px 40px;

}

.add{
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}
