
/* reset layout */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.logo-header{
    background-color: white;
    padding: 10px 20px;
    border: 1px solid red;
}

.logo-img{
    vertical-align: middle;
}

.logo-name{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

/* main */

.container-main{
    border: 1px solid red;
    width: 80%;
    margin: 40px auto;
}

/* header main */
.header-container-main{
    border: 1px solid red;
    padding: 20px 40px;

}

.add{
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
}
/* sezioni aggiunte */
.section-container{
    border: 1px solid red;
    padding: 20px 40px;

}

.down-triangle{
    margin-right: 5px;
    font-size: 10px;
}

.section-header-name{
    font-size: 20px;
    font-weight: bold;
}

.section-list{
    list-style-type: none;
    margin: 5px 0 40px;
}

.list-item{
    margin-bottom: 20px;
    margin-top: 10px;
}

.entity-check-mark{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    text-align: center;
    padding: 2px;
    font-size: 10px;
}

.entity-cross-mark{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    text-align: center;
    padding: 2px;
    font-size: 10px;

}

.type-list{
    border-radius: 15px;
    background-color: lightblue;
    padding: 5px;
    font-size: 10px;
    color: white;
}
